$background-color: #000000;
$primary-color: #3f3f3f;
$secondary-color: #2e63f7;
$accent-color: #e9e9e9;
$text-color: #e8e8e8;

#root {
  background-color: $background-color;
  color: $text-color;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}

// BUTTONS
.button-theme {
  background-color: $text-color;
  color: $background-color;

  &:hover {
    background-color: $text-color;
    opacity: 0.65;
  }
}

// SIDE BAR
.side-bar-theme {
  background-color: $primary-color;

  .side-bar-item,
  .side-bar-item-expanded {
    color: $accent-color;
  }

  .side-bar-item-active {
    color: $secondary-color;
  }
}

// HEADER
.header-theme {
  background-color: $primary-color;

  .dropdown-menu {
    background: $primary-color;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.3);
  }

  .dropdown-menu::before {
    background: $primary-color;
  }
}

// PAGE ROUTE
.page-route {
  background-color: $primary-color;
}

// SETTINGS CARD
.settings-card-theme {
  background-color: $primary-color;
  box-shadow:
    0 10px 20px rgba(0, 0, 0, 0.2),
    0 -1px 20px rgba(0, 0, 0, 0.1);

  .circle-icon {
    background: $background-color;
    color: $text-color;
  }
}

// POLICIES CARD
.policies-card-theme {
  .circle-icon {
    background: $background-color;
    color: $text-color;
  }
}

// THEME BUTTON
.theme-button-theme {
  input[type='checkbox']:checked {
    background-color: $background-color;
  }

  input[type='checkbox']:checked::before {
    background-color: $text-color;
  }
}
