$background-color: #000000;
$primary-color: #3f3f3f;
$secondary-color: #2e63f7;
$accent-color: #e9e9e9;
$text-color: #e8e8e8;

#root {
  background-color: $background-color;
  color: $text-color;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}

// SCROLL BAR
::-webkit-scrollbar-track {
  background-color: rgba(255, 255, 255, 0.4);
  border-radius: 10px;
}

::-webkit-scrollbar-thumb {
  background-color: #181717;
  border-radius: 10px;
}

// BUTTONS
.button-theme {
  background-color: $text-color;
  color: $background-color;

  &:hover {
    background-color: $text-color;
    opacity: 0.65;
  }
}

// SIDE BAR
.side-bar-theme {
  background-color: $primary-color;

  .side-bar-item,
  .side-bar-item-expandeded {
    color: $accent-color;
  }

  .side-bar-item-active {
    color: $secondary-color;
  }
}

// HEADER
.header-theme {
  background-color: $primary-color;

  .dropdown-menu {
    background: $primary-color;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.3);
  }

  .dropdown-menu::before {
    background: $primary-color;
  }
}

// PAGE ROUTE
.page-route {
  background-color: $primary-color;
}

// CARDS
.dashboard-card-theme,
.weather-card-theme,
.chart-card-theme,
.settings-card-theme {
  background-color: $primary-color;
  box-shadow:
    0 10px 20px rgba(0, 0, 0, 0.2),
    0 -1px 20px rgba(0, 0, 0, 0.1);
}

// ICONS
.weather-icon,
.circle-icon {
  background: $background-color;
  color: $secondary-color;
}

.weather-icon-text {
  color: $text-color;
}

// THEME BUTTON
.theme-button-theme {
  input[type='checkbox']:checked {
    background-color: $background-color;
  }

  input[type='checkbox']:checked::before {
    background-color: $text-color;
  }
}

// FORMS
.overlay-form-theme {
  background-color: rgba(255, 255, 255, 0.5);

  .overlay-form-wrapper-theme {
    background-color: $primary-color;
    box-shadow: 0 0 10px rgba(255, 255, 255, 0.3);
  }
}
