$background-color: #d8d8da;
$primary-color: #ffffff;
$secondary-color: #2e63f7;
$accent-color: #353535;
$text-color: #000000;

#root {
  background-color: $background-color;
  color: $text-color;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}

// BUTTONS
.button-theme {
  background-color: $text-color;
  color: $background-color;

  &:hover {
    background-color: $text-color;
    opacity: 0.65;
  }
}

// SIDE BAR
.side-bar-theme {
  background-color: $primary-color;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);

  .side-bar-item,
  .side-bar-item-expanded {
    color: $accent-color;
  }

  .side-bar-item-active {
    color: $secondary-color;
  }
}

// HEADER
.header-theme {
  background-color: $primary-color;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);

  .dropdown-menu {
    background: $primary-color;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
  }

  .dropdown-menu::before {
    background: $primary-color;
  }
}

// SETTINGS PAGE
.page-route {
  background-color: $primary-color;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
}

// SETTINGS CARD
.settings-card-theme {
  background-color: $primary-color;
  box-shadow:
    0 10px 20px rgba(0, 0, 0, 0.2),
    0 -1px 20px rgba(0, 0, 0, 0.1);
}
