$background-color: #d8d8da;
$primary-color: #ffffff;
$secondary-color: #2e63f7;
$accent-color: #353535;
$text-color: #000000;

#root {
  background-color: $background-color;
  color: $text-color;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}

.button-theme {
  background-color: $text-color;
  color: $background-color;

  &:hover {
    background-color: $text-color;
    opacity: 0.65;
  }
}

.side-bar-theme {
  background-color: $primary-color;

  .side-bar-item,
  .side-bar-item-expanded {
    color: $accent-color;

    &:hover {
      color: $accent-color;
      opacity: 0.65;
    }
  }

  .side-bar-item-active {
    color: $secondary-color;

    &:hover {
      color: $secondary-color;
      opacity: 0.65;
    }
  }
}
